**/.git
**/.gitignore
**/node_modules
**/out/test
**/*.map
**/*.ts
**/config
.vscode
*.vsix
**/.DS_Store
**/npm-debug.log
**/yarn-error.log
**/.vscode/**
**/.kilocode
temp_vsix/**
temp.zip

!README.md
!resources/default.png
!resources/marketplace-cards.png
